* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Poppins", sans-serif;
    color: black
}
.header{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.251);
    color: white;
    padding: 13px;
}

.header-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 1;
    text-align: center;
    text-decoration: none;
}
.header-title:hover {
    color: rgb(108, 29, 199);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-buttons {
    transition: background .2s ease,color .2s ease,opacity .2s ease;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 9px;
    transition: color 0.2s;
}
.header-buttons:hover {
    color: rgb(108, 29, 199);
}

.empty-space {
    flex-grow: 1;
}

.container {
    border: 5px solid black;
    width: 70%;
    margin: auto;
    height: 1200px;
    display: none;
} 









