* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    font-family: "Poppins", sans-serif;
    color: black
}
.header{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.251);
    color: white;
    padding: 13px;
}

.header-title {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 1;
    text-align: center;
    text-decoration: none;
}
.header-title:hover {
    color: rgb(108, 29, 199);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-buttons {
    transition: color 0.2s, border 0.1s ease;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 9px;
    margin: auto;
}
.header-buttons:hover {
    color: rgb(108, 29, 199);
    border: rgb(108, 29, 199) solid 1px;
    border-radius: 20px;
}
.empty-space {
    flex-grow: 1;
}

.container {
    background-color: #fff;
    width: 70%;
    margin: auto;
    overflow: hidden;
} 
.left {
    width:65%;
    float: left;
}

.pagetitle {
    margin-left: 15px;
}
.pagetitle h1 {
    margin: 20px;
    font-size: 25px;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15px;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
    opacity: 0.7;
}
.contentwrap {
    padding: 20px;
}
p {
    margin-bottom: 1rem;
    font-size: 14px;
}

.right {
    width: 25%;
    height: 500px;
    float: right;
    margin: 20px;
    margin-top: 50px;
    font-size: 0.9em;
    margin-left: 60px;
}
.right.left {
    display: inline-block;
}

.lists {
    list-style: none;
}
li a {
    text-decoration: none;
    color: #7b9cde;
}
li {
    text-decoration: none;
    color: #7b9cde;
    list-style: none;
}

.list-left-margin {
    margin-left: 20px;
    
}
p a {
    color: blue;
    text-decoration: none;
}
p a:hover {
    color: purple;
}
.content-title {
    font-size: 15px;
    padding-bottom: 5px;
}

.nav-buttons:hover {
    color: rgb(108, 29, 199);

}


.margin-bottom {
    margin-bottom: 30px;
    margin-left: 5px;
    color: rgb(184, 184, 184);
    margin-right: 0px;
}


