<div class="header">
    <a class="header-title" href="/joseph-web/index.html"> Joseph's web</a>
    <div class="nav">
        <a class="header-buttons" href="/joseph-web/projects/main.html">Projects</a>
        <a class="header-buttons" href="/joseph-web/portfolio/main.html">Portfolio</a>
        <a class="header-buttons" href="/joseph-web/publications/main.html">Publications</a>
        <div class="empty-space"></div>
        <a class="header-buttons" href="/joseph-web/about/main.html">About</a>
        <a class="header-buttons" href="/joseph-web/contact/main.html">Contact</a>
        <a class="header-buttons" href="/joseph-web/about/CV.pdf">CV</a>
        <div class= "hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>

</div> 