<div class="header">
    <div class="nav">
        <a class="header-buttons" href="/projects/main.html">Projects</a>
        <a class="header-buttons" href="/portfolio/main.html">Portfolio</a>
        <a class="header-buttons" href="/publications/main.html">Publications</a>
        <div class="empty-space"></div>
        <a class="header-title" href="/index.html"> Joseph's web</a>
        <a class="header-buttons" href="/about/main.html">About</a>
        <a class="header-buttons" href="/contnct/main.html">Contact</a>
        <a class="header-buttons" href="/about/CV.pdf">CV</a>
    </div>
</div> 