* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f9fa;
    font-family: "Roboto", sans-serif;
    color: black
}
.header{
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,.251);
    color: white;
}

.header-title {
    transition: color 0.1s ease;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 1;
    text-align: center;
    text-decoration: none;
}
.header-title:hover {
    color: rgb(108, 29, 199);
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header-buttons {
    transition: color 0.1s ease;
    padding: 0.625rem 0.938rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 0.6625rem;
    margin: auto;
}
.header-buttons:hover {
    color: rgb(108, 29, 199);
}
.empty-space {
    flex-grow: 1;
}

.container {
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    background-color: #fff;
    width: 70%;
    margin: auto;
    overflow: hidden;
    min-height: 100vh;
} 
.left {
    width:65%;
    float: left;
}
.left img {
            width: 100%;  
            height: auto; 
            object-fit: cover; 
        }

.pagetitle {
    margin-left: 15px;
}
.pagetitle h1 {
    margin: 20px;
    font-size: 1.5625rem;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 15px;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 80%;
    opacity: 0.7;
}
.contentwrap {
    padding: 20px;
}
p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 500px;
    font-size: 1.1rem;
    float: right;
    margin-right: 25px;
}

.lists {
    list-style: none;
}
li a {
    text-decoration: none;
    color: #7b9cde;
}
li {
    text-decoration: none;
    color: #7b9cde;
    list-style: none;
}

.list-left-margin {
    margin-left: 20px;
    
}
p a {
    color: blue;
    text-decoration: none;
}
p a:hover {
    color: purple;
}
.content-title {
    font-size: 0.9375rem;
    padding-bottom: 5px;
}

.nav-buttons:hover {
    color: rgb(108, 29, 199);

}


.margin-bottom {
    margin-bottom: 30px;
    margin-left: 5px;
    color: rgb(184, 184, 184);
    margin-right: 0px;
}


.h2-structure {
    margin-bottom: 0.1rem;
    font-size: 1.2rem;
}

h6 {
    margin-top: 1rem;
    color: rgb(71, 71, 71);
    font-weight: 400;
}
.hamburger {
    display: none;
    cursor: pointer;
    
}
.bar {
    display: block;
    width: 20px;
    height: 1px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    .left {
        width: 100%;
        height: 100%
    }
    .container {
        flex-direction: column;
        width: 100%;
        height: max-content;
    }
    .header-buttons {
        display: none;
    }
    .hamburger {
        display: block;
        margin-right: 1em;
    }
    .right {
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1em;
        height: min-content;
        display: none;
    }
    li a {
        color: blue;
    }
    
    .right.active {
        display: flex;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
    }
}
