<!DOCTYPE html>
<html lang="en">
<head>
        {% include head-settings.html %}
        <title>{{ page.title }}</title>
</head>
 <body>
{% include navigation-top.html %}
    <div class="container">
            {% include navigation-right.html %}
                {{ content }}
    </div>

<script>
        const hamburger = document.querySelector(".hamburger")
        const right = document.querySelector(".right")
        
        hamburger.addEventListener("click", () => {
            hamburger.classList.toggle("active");
            right.classList.toggle("active");
        })
</script>
 </body>
</html>